{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static 'bikes/css/style.css' %}">
<title>Bike Shed - creating</title>

<body>
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

{% if brand_list %}
    <ul>
        {% for brand in brand_list %}
            <li><a href="#"></a>{{ brand.name }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>

</html>