{% load static %}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="{% static 'bikes/css/style.css' %}">
<title>Bike Shed - dashboard</title>

<body>
<div class="container">

    <div class="container__item header">
        <span class="header__title" onclick="location.href='{% url 'bikes:index' %}'">Bike Shed</span>
        <span class="header__action" onclick="location.href='{% url 'bikes:create' %}'">Add Bike</span>
    </div>

    {% if bike_list %}
        {% for bike in bike_list %}
            <div class="container__item section" onclick="location.href='{% url 'bikes:detail' bike.id %}'">
                <img class="bike" src="{% static 'bikes/img/'|add:bike.get_image %}" alt="{{ bike.get_image }}"><br/>
                <span>{{ bike.model }}</span><br/>
                <span>{{ bike.price }}$</span><br/>
                <span>{{ bike.headline }}</span><br/>
            </div>
        {% endfor %}
    {% endif %}

</div>
</body>

</html>